<footer class="footer py-3 mt-auto bg-dark">
    <div class="container">
        <span class="text-muted">&copy DailyReport 2020, Wisesa</span>
        <div class="text-muted">Icons made by <a class="text-muted" href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
            from
            <a class="text-muted" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
    </div>
    
</footer>