<% layout('./layouts/boilerplate') %>
<div class="row bg-secondary">
    <h2 class="mx-auto text-center text-white">
        Daily Report
    </h2>
    <div class="w-100"></div>
    <p class=" mx-auto text-center text-light mb-2" style="font-size: large;">
        Get recent <i>News</i> and <i>Weather</i> report, start by filling the form below
    </p>
</div>
<div class="row bg-dark">
    <div class="col-md-6 offset-md-3">
        <form action="/page" method="POST" class="validated-form" novalidate>
            <div class="form-group">
                <div class="mb-3">
                    <label class="form-label text-light mt-2" for="country">Country</label>
                    <div class="input-group mb-3">
                        <select class="custom-select" id="country" name="input[country]">
                            <% for(let country of countryCodes){ %>
                            
                                <option value="<%= country.code %>" <%=country.label==='United States' ?'selected':''%> >
                                    <%= country.label %>
                                </option>
                                <% } %>
                        </select>
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                </div>

                <div class="mb-3" id="stateOption" >
                    <label class="form-label text-light" for="state">States</label>
                    <div class="input-group mb-3">
                        <select class="custom-select" id="state" name="input[state]" required>
                            <option>--</option>
                        </select>
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label text-light" for="city">City</label>
                    <div class="input-group mb-3">
                        <select class="custom-select" id="city" name="input[city]" required>
                            <option>--</option>
                        </select>
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                </div>
             
                <div class="mb-3">
                    <label class="form-label text-light" for="category">Category</label>
                    <input class="form-control" type="text" name="input[category]" id="category" placeholder="Enter a category...(e.g Food, Business)" required>
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Please provide a category</div>
                </div>

                <div class="mb-3">
                    <label class="form-label text-light" for="city">Temperature:</label>
                    <div class="input-group mb-3">
                        <select class="custom-select" id="city" name="input[temp]" required>
                            <option value="celcius">Celcius</option>
                            <option value="fahrenheit">Fahrenheit</option>
                        </select>
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                </div>

                <button class="btn btn-success mb-3">Submit</button>
        </form>
    </div>
</div>

<script type="module" src="/javascripts/citiesAndCountries.js"></script>
<script src="/javascripts/validateForms.js"></script>


